@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        .white {

            
            color: #fff;

            
        }
    }

    .wrap {
        height: 70px;
        background-color: #F5F7FF;
    }

    header {
        
        .header_one {
            color: #acacac;
            background-color: #020202;
            width: 100%;
            .header_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 44px;
                a {
                    text-decoration: none;
                    &:hover {
                        border-bottom: 2px solid #fff;
                    }
                }
            }
        }
        .header_two {
            width: 100%;
            font-weight: 700;
            border-bottom: 1px solid #CACDD8;

            background-color: #fff;
            .header_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 92px;
                
                img {
                    margin-left: 25px;
                }

                .categories {
                    display: flex;
                    :nth-child(n) {
                        margin-left: 25px;
                    }
                    a {
                        text-decoration: none;
                        color: #020202;
                    }
                }

                .header_nav {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    main {
        .new_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 14px;
            h3 {
                font-size: 22px;
                font-weight: 700;
            }
            a {
                text-decoration: underline;
                font-size: 13px;
                color: #0156FF;
            }
        }

        .new_items {
            display: flex;
            justify-content: space-between;
        }

        .custome {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            .preview {
                height: 350px;
                width: 232px;
                background-image: url(./src/custom_img.png);
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                .preview_name {
                    font-size: 22px;
                    color: #fff;
                    font-weight: 800;
                    text-align: center;
                    margin-bottom: -60px;
                }
                a {
                    text-decoration: underline;
                    margin-bottom: 35px;
                    color: #fff;
                }

            }
            .grid_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .shelf_w_sel {
            .selector {
                display: flex;
                gap: 26px;
                margin-top: 35px;
                margin-bottom: 24px;
                color: #838383;
                font-weight: 700;
                :first-child {
                    border-bottom: #0156FF 2px solid;
                    color: #000;
                }
            }
        }

       

        
    }

    .brands {
        display: flex;
        justify-content: space-between;
        margin-top: 66px;
    }

    .block_of_news {
        .container_content {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 22px;
                font-weight: 700;
                margin-top: 77px;
            }
            .cards {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 9px;
                margin-top: 21px;
                .card_news {
                    max-height: 323px;
                    width: 225px;
                  
                    .text_content {
                        text-align: center;
                        font-size: 12px;
                        margin: 10px 25px;
                        :last-child {
                            font-size: 10px;
                            color: #A2A6B0;
                            margin-top: 10px;
                        }
                    }
                }
            }

        }
       
    }

    .block_review {
        width: 1160px;
        height: 310px;
        margin: 60px auto;
        background-color: #F5F7FF;
        .content_review {
            height: 205px;
            width: 922px;
            margin: 0 auto;
            .text_review {
                padding-top: 52px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                line-height: 27px;
                font-size: 18px;
                p {
                    width: 92%;
                }
                :last-child {
                    width: 100%;
                    text-align: end;
                    margin-top: 10px;
                }
            }

            .nav_review {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                button {
                    border: 2px solid #0156FF;
                    border-radius: 50px;
                    padding: 8px 26px;
                    background-color: transparent;
                    color: #0156FF;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

        }
    }

    .advantage {
        .item {
            display: flex;
            justify-content: space-evenly;
            .card_a {
                width: 265px;
                height: 170px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .text_a {
                    text-align: center;
                    margin-top: 25px;
                    font-size: 18px;
                    font-weight: 800;
                    :last-child {
                        font-size: 14px;
                        font-weight: 400;
                        margin-top: 13px;
                    }
                }
            }
        }

    }

    footer {
        margin-top: 45px;

        background-color: #020203;
        .newsletter {
            padding-top: 72px;
            padding-bottom: 50px;
            .container {
                display: flex;
                justify-content: space-between;
                
                .text {
                    font-size: 38px;
                    font-weight: 600;
                    color: #fff;
                    :last-child {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
                .nav {
                    input {
                        background: transparent;
                        border: 2px solid #fff;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        height: 50px;
                        width: 390px;
                        padding-left: 10px;
                    }
                    button {
                        border: none;
                        background-color: #0156FF;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 700;
                        height: 50px;
                        width: 150px;   
                        border-radius: 50px;
                    
                    }
                }
            }
            
        }
    }


    //catalog page

    .catalog_title {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        margin-top: 56px;
        margin-bottom: 70px;
    }


    .catalog_flex {
        display: flex;
        margin-bottom: 160px;
        .catalog_aside {
            width: 234px;
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            .aside_background {
                background-color: #F5F7FF;
                .aside_wrapper {
                    padding: 20px 17px;
    
                    .filters {
                        display: flex;
                        flex-direction: column;
     
                        gap: 40px 0;
                        .title_filter {
                            font-size: 16px;
                            font-weight: 800;
                            line-height: 24px;
                            text-align: center;
                        }
                        button {
                            margin-top: 12px;
                            border: 2px solid #A2A6B0;
                            width: 100%;
                            height: 37px;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 21px;
                            color: #A2A6B0;
                            border-radius: 50px;
                            background: transparent;
                        }
                        .category_filter {
                            display: flex;
                            justify-content: space-between;
                            font-size: 13px;
                            line-height: 210%;
                            .designation {
                                :nth-child(1) {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                        }
                        .catalog_price {
                            display: flex;
                            justify-content: space-between;
                            font-size: 13px;
                            line-height: 210%;
                            .designation {
                                :nth-child(1) {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                        }
                        .filter_color {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 21px;
                            :nth-child(1) {
                                margin-bottom: 15px;
                            }
                        }
                        .filter_complite {
                            button {
                                background-color: #0156FF;
                                color: #fff;
                            }
                        }
                    }
                    .catalog_brands {
                        display: flex;
                        flex-direction: column;
                        .nav {
                            width: 100%;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 800;
                            line-height: 24px;
                            button {
                                border: 2px solid #A2A6B0;
                                border-radius: 50px;
                                height: 37px;
                                width: 100%;
                                background: transparent;
                                margin-top: 15px;
                            }
                        }
                        .logo_brands {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px 6px;
                            margin-top: 32px;
                        }
                    }
                    .wish_list {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 800;
                        line-height: 24px;
                        :last-child {
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 130%;
                            margin-top: 24px;
                        }
                    }
                }
            }
            
        }
    
        .catalog_main {
            margin-left: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 0 5px;
            width: 90%;
            .page_selector {
                width: 100%;
               
                ul {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    gap: 0 12px;
                    justify-content: center;
                    color: #A2A6B0;
                    li {
                        width: 38px;
                        height: 38px;
                        border: 2px solid #A2A6B0;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 20px;
                        &:nth-child(2) {
                            border: none;
                            background-color: #F5F7FF;
                            color: #000;
                        }
                    }
                }
            }
        }

        
    }



    //Card page

    .order_registration {
        border-bottom: 1px solid #CACDD8;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item_p-selector {
                padding: 40px 0;
                display: flex;
                color: #666666;
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
                gap: 0 30px;
                text-align: start;
                :first-child {
                    color: #000;
                    border-bottom: 2px solid #0156FF;
                }
            }
            .order_nav {
                button {
                    height: 50px;
                    width: 151px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #0156FF;
                    border-radius: 50px;
                    border: none;
                    &:last-child {
                        margin-left: 13px;
                        background-color: #FFB800;
                    }
                }
            }
        }
    }

    .order_main {
        display: flex;
        margin-bottom: 80px;
        .left {
            width: 60%;
            background-color: #F5F7FF;
            display: flex;
            justify-content: end;
            min-height: 480px;
            .inner_container {
                width: 570px;
                .product {
                    position: relative;
                    right: 110px;
                    display: flex;
                    flex-direction: column;
                    .text_product {
                        margin-top: 110px;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 30px;
                        :first-child {
                            font-size: 32px;
                            font-weight: 500;
                            padding-bottom: 55px;
                        }
                    }
                    .color_change {
                        margin-top: 46px;
                        display: flex;
                        align-items: center;
                        gap: 0 18px;
                    }
                    .sn_product {
                        margin-top: 31px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 300;
                        :first-child {
                            font-weight: 700;
                            a {
                                font-weight: 400;
                                color: #0156FF;
                            }
                        }
                    }
                }
            }
        }
        .right {
            width: 40%;
            min-height: 480px;
        }
    }
    

    //Advanced

    .card_item {
        max-width: 234px;
        height: 346px;
        // border: 1px solid red;
        .card_container {
            width: 185px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .availability {
                display: flex;
                align-items: center;
                font-size: 10px;
                color: green;
                margin-left: 25px;
                margin-top: 7px;
                p {
                    margin-top: -2px;
                    margin-left: 6px;
                }
            }
            .review {
                display: flex;
                align-items: center;
                font-style: 12px;
                color: #a2a6b0;
                p {
                    margin-left: 10px;
                }
            }
            .name_item {
                font-size: 13px;
                margin-top: 10px;
            }
            .price {
                font-size: 18px;
                margin: 15px 0;
                .strikeout {
                    text-decoration: line-through;
                    color: #666666;
                    font-size: 14px;
                }
            }
        }

    }
}
