@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
body button {
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: inherit;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
}
body .container .white {
  color: #fff;
}
body .wrap {
  height: 70px;
  background-color: #F5F7FF;
}
body header .header_one {
  color: #acacac;
  background-color: #020202;
  width: 100%;
}
body header .header_one .header_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
body header .header_one .header_item a {
  text-decoration: none;
}
body header .header_one .header_item a:hover {
  border-bottom: 2px solid #fff;
}
body header .header_two {
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid #CACDD8;
  background-color: #fff;
}
body header .header_two .header_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
}
body header .header_two .header_item img {
  margin-left: 25px;
}
body header .header_two .header_item .categories {
  display: flex;
}
body header .header_two .header_item .categories :nth-child(n) {
  margin-left: 25px;
}
body header .header_two .header_item .categories a {
  text-decoration: none;
  color: #020202;
}
body header .header_two .header_item .header_nav {
  display: flex;
  align-items: center;
}
body main .new_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 14px;
}
body main .new_title h3 {
  font-size: 22px;
  font-weight: 700;
}
body main .new_title a {
  text-decoration: underline;
  font-size: 13px;
  color: #0156FF;
}
body main .new_items {
  display: flex;
  justify-content: space-between;
}
body main .custome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
body main .custome .preview {
  height: 350px;
  width: 232px;
  background-image: url(./src/custom_img.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
body main .custome .preview .preview_name {
  font-size: 22px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  margin-bottom: -60px;
}
body main .custome .preview a {
  text-decoration: underline;
  margin-bottom: 35px;
  color: #fff;
}
body main .custome .grid_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .shelf_w_sel .selector {
  display: flex;
  gap: 26px;
  margin-top: 35px;
  margin-bottom: 24px;
  color: #838383;
  font-weight: 700;
}
body main .shelf_w_sel .selector :first-child {
  border-bottom: #0156FF 2px solid;
  color: #000;
}
body .brands {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
body .block_of_news .container_content {
  display: flex;
  flex-direction: column;
}
body .block_of_news .container_content .title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 77px;
}
body .block_of_news .container_content .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 9px;
  margin-top: 21px;
}
body .block_of_news .container_content .cards .card_news {
  max-height: 323px;
  width: 225px;
}
body .block_of_news .container_content .cards .card_news .text_content {
  text-align: center;
  font-size: 12px;
  margin: 10px 25px;
}
body .block_of_news .container_content .cards .card_news .text_content :last-child {
  font-size: 10px;
  color: #A2A6B0;
  margin-top: 10px;
}
body .block_review {
  width: 1160px;
  height: 310px;
  margin: 60px auto;
  background-color: #F5F7FF;
}
body .block_review .content_review {
  height: 205px;
  width: 922px;
  margin: 0 auto;
}
body .block_review .content_review .text_review {
  padding-top: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 27px;
  font-size: 18px;
}
body .block_review .content_review .text_review p {
  width: 92%;
}
body .block_review .content_review .text_review :last-child {
  width: 100%;
  text-align: end;
  margin-top: 10px;
}
body .block_review .content_review .nav_review {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
body .block_review .content_review .nav_review button {
  border: 2px solid #0156FF;
  border-radius: 50px;
  padding: 8px 26px;
  background-color: transparent;
  color: #0156FF;
  font-size: 14px;
  font-weight: 700;
}
body .advantage .item {
  display: flex;
  justify-content: space-evenly;
}
body .advantage .item .card_a {
  width: 265px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .advantage .item .card_a .text_a {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 800;
}
body .advantage .item .card_a .text_a :last-child {
  font-size: 14px;
  font-weight: 400;
  margin-top: 13px;
}
body footer {
  margin-top: 45px;
  background-color: #020203;
}
body footer .newsletter {
  padding-top: 72px;
  padding-bottom: 50px;
}
body footer .newsletter .container {
  display: flex;
  justify-content: space-between;
}
body footer .newsletter .container .text {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}
body footer .newsletter .container .text :last-child {
  font-size: 16px;
  font-weight: 300;
}
body footer .newsletter .container .nav input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  width: 390px;
  padding-left: 10px;
}
body footer .newsletter .container .nav button {
  border: none;
  background-color: #0156FF;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  width: 150px;
  border-radius: 50px;
}
body .catalog_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 56px;
  margin-bottom: 70px;
}
body .catalog_flex {
  display: flex;
  margin-bottom: 160px;
}
body .catalog_flex .catalog_aside {
  width: 234px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
body .catalog_flex .catalog_aside .aside_background {
  background-color: #F5F7FF;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper {
  padding: 20px 17px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .title_filter {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters button {
  margin-top: 12px;
  border: 2px solid #A2A6B0;
  width: 100%;
  height: 37px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #A2A6B0;
  border-radius: 50px;
  background: transparent;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .category_filter {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 210%;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .category_filter .designation :nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .catalog_price {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 210%;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .catalog_price .designation :nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .filter_color {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .filter_color :nth-child(1) {
  margin-bottom: 15px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .filters .filter_complite button {
  background-color: #0156FF;
  color: #fff;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .catalog_brands {
  display: flex;
  flex-direction: column;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .catalog_brands .nav {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .catalog_brands .nav button {
  border: 2px solid #A2A6B0;
  border-radius: 50px;
  height: 37px;
  width: 100%;
  background: transparent;
  margin-top: 15px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .catalog_brands .logo_brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 6px;
  margin-top: 32px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .wish_list {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}
body .catalog_flex .catalog_aside .aside_background .aside_wrapper .wish_list :last-child {
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 24px;
}
body .catalog_flex .catalog_main {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
  width: 90%;
}
body .catalog_flex .catalog_main .page_selector {
  width: 100%;
}
body .catalog_flex .catalog_main .page_selector ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0 12px;
  justify-content: center;
  color: #A2A6B0;
}
body .catalog_flex .catalog_main .page_selector ul li {
  width: 38px;
  height: 38px;
  border: 2px solid #A2A6B0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
body .catalog_flex .catalog_main .page_selector ul li:nth-child(2) {
  border: none;
  background-color: #F5F7FF;
  color: #000;
}
body .order_registration {
  border-bottom: 1px solid #CACDD8;
}
body .order_registration .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .order_registration .container .item_p-selector {
  padding: 40px 0;
  display: flex;
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  gap: 0 30px;
  text-align: start;
}
body .order_registration .container .item_p-selector :first-child {
  color: #000;
  border-bottom: 2px solid #0156FF;
}
body .order_registration .container .order_nav button {
  height: 50px;
  width: 151px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #0156FF;
  border-radius: 50px;
  border: none;
}
body .order_registration .container .order_nav button:last-child {
  margin-left: 13px;
  background-color: #FFB800;
}
body .order_main {
  display: flex;
  margin-bottom: 80px;
}
body .order_main .left {
  width: 60%;
  background-color: #F5F7FF;
  display: flex;
  justify-content: end;
  min-height: 480px;
}
body .order_main .left .inner_container {
  width: 570px;
}
body .order_main .left .inner_container .product {
  position: relative;
  right: 110px;
  display: flex;
  flex-direction: column;
}
body .order_main .left .inner_container .product .text_product {
  margin-top: 110px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
body .order_main .left .inner_container .product .text_product :first-child {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 55px;
}
body .order_main .left .inner_container .product .color_change {
  margin-top: 46px;
  display: flex;
  align-items: center;
  gap: 0 18px;
}
body .order_main .left .inner_container .product .sn_product {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}
body .order_main .left .inner_container .product .sn_product :first-child {
  font-weight: 700;
}
body .order_main .left .inner_container .product .sn_product :first-child a {
  font-weight: 400;
  color: #0156FF;
}
body .order_main .right {
  width: 40%;
  min-height: 480px;
}
body .login_main {
  margin-bottom: 80px;
}
body .login_main .container .login_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 58px;
}
body .login_main .container .login_form {
  margin-top: 21px;
  display: flex;
  justify-content: space-around;
}
body .login_main .container .login_form .sign_in-form {
  height: 415px;
  width: 564px;
  background-color: #F5F7FF;
  display: flex;
  flex-direction: column;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper {
  width: 450px;
  margin: 0 auto;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .form_content {
  margin-top: 43px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 23px 0;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .form_content :first-child {
  font-size: 18px;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .form_content :nth-child(2) {
  font-weight: 400;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .form_content input {
  padding-left: 14px;
  margin-top: -15px;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #a2a6b0;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .sign_in-nav {
  margin-top: 30px;
  color: #0156FF;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .sign_in-nav button {
  height: 50px;
  width: 151px;
  background-color: #0156FF;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  border: none;
}
body .login_main .container .login_form .sign_in-form .inner_wrapper .sign_in-nav :last-child {
  margin-left: 23px;
}
body .login_main .container .login_form .sign_up-form {
  height: 415px;
  width: 564px;
  background-color: #F5F7FF;
}
body .login_main .container .login_form .sign_up-form .inner_wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px 0;
  width: 450px;
  margin: 43px auto;
  font-size: 14px;
  font-weight: 300;
  justify-content: start;
}
body .login_main .container .login_form .sign_up-form .inner_wrapper p:first-child {
  font-size: 18px;
  font-weight: 700;
}
body .login_main .container .login_form .sign_up-form .inner_wrapper ul {
  padding-left: 12px;
}
body .login_main .container .login_form .sign_up-form .inner_wrapper button {
  height: 50px;
  width: 208px;
  background-color: #0156FF;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  border: none;
}
body .card_item {
  max-width: 234px;
  height: 346px;
}
body .card_item .card_container {
  width: 185px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body .card_item .card_container .availability {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: green;
  margin-left: 25px;
  margin-top: 7px;
}
body .card_item .card_container .availability p {
  margin-top: -2px;
  margin-left: 6px;
}
body .card_item .card_container .review {
  display: flex;
  align-items: center;
  font-style: 12px;
  color: #a2a6b0;
}
body .card_item .card_container .review p {
  margin-left: 10px;
}
body .card_item .card_container .name_item {
  font-size: 13px;
  margin-top: 10px;
}
body .card_item .card_container .price {
  font-size: 18px;
  margin: 15px 0;
}
body .card_item .card_container .price .strikeout {
  text-decoration: line-through;
  color: #666666;
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */